#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Faustina', serif;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  flex-direction: column;
}

.main-section {
  display: flex;
  margin-bottom: 0.5rem;
}

#userNavBar {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4B3F72;
  border-top: 3px #FFC857 solid;
  border-bottom: 3px #FFC857 solid;
  padding: 10px;
}

.pageName {
  border: 1px solid #FFC857;
  margin-top: 4rem;
  padding: 1rem;
  background-color: #4B3F72;
  border-radius: 1em;
  font-size: 2rem;
}

#single-post-container {
  border: 1px solid #FFC857;
  margin: 2rem;
  padding: 1rem;
  background-color: #4B3F72;
  border-radius: 1em;
}

#username {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  border: solid #FFC857 1px;
  background-color: #1F2041;
  color: white;
  font-weight: bold;
  margin-left: 1rem;
  padding: 0.3rem;
  width: 30%;
}

.searchAndCreate {
  display: flex;
  justify-content: center;
  margin: 3rem;
  font-size: 1.5rem;
}

#searchBox {
  font-size: inherit;
}

#createPostButton {
  border-radius: 8px;
  border: 1px solid transparent;
  margin-left: 5rem;
  padding: 0.2em 1.2em;
  font-size: 1em;
  background-color: #119DA4;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

.messageContainer {
  display: flex;
  justify-content: center;
}

#messageBox {
  display: inline;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
}

#newPostForm {
  display: flex;
  flex-direction: column;
}

#submitButton {
  margin-top: 1rem;
}

#loginRegisterForm {
  display: flex;
  flex-direction: column;
}

/* Mobile */

@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }

  .searchAndCreate {
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
  }

  .messageContainer{
    align-items: center;
  }

  #messageSubmit {
    height: 5vh;
    margin-top: 9%;
  }

  #searchBox {
    margin-top: 1rem;
  }

  #createPostButton {
    margin-left: 0;
    margin-top: 1rem;
  }

  #messageBox {
    margin: 1rem 0;
  }
}